<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288842837392-sgib97u6439i4jte3bo19u00fh663euu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288842837392-sgib97u6439i4jte3bo19u00fh663euu</string>
	<key>API_KEY</key>
	<string>AIzaSyCCYZoZ5DvuitZJ7qK5iWM3ARHBDoFFriY</string>
	<key>GCM_SENDER_ID</key>
	<string>288842837392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harshRajpurohit.weChat</string>
	<key>PROJECT_ID</key>
	<string>we-chat-75f13</string>
	<key>STORAGE_BUCKET</key>
	<string>we-chat-75f13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288842837392:ios:f39c8dc31525a6687a5715</string>
</dict>
</plist>